/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    position: relative;
}

/* colors */
.bg-purple {
    background-color: #4a47a8;
}

.bg-green {
    background-color: #35a279;
}

.text-purple {
    color: #4a47a8;
}

.text-green {
    color: #35a279;
}

/* Utilities */
a {
    text-decoration: none;
}
/* hero */
#hero {
    height: 100vh;
}

/* Top */
#top {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 1em;
    cursor: pointer;
}

/* alert */
#alert-div {
    position: fixed;
    bottom: 0;
}